<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/catalog">Catalog</a> | <a href="/users">Users</a> | <a href="/req_frontend">Fronted</a> | <a href="/req_backend">Backend</a>
        {% if session.username %}
            | <a href="/logout">Log Out</a>
        {% else %}
            | <a href="login">Login</a>
        {% endif %}
    </header>

</body>
</html>